header.Header#Header
  section.Header-container
    div.Logo
      a(href=link.inicio)
        img(src="img/logo.png" alt="Logo GBV")
    button(type="button" class="Panel-btn hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href=link.inicio) Inicio
          li
            a(href=link.somos).Menu-link Quiénes Somos?
          li
            a(href=link.hacemos).Menu-link Qué Hacemos?
          li
            a(href=link.sumate).Menu-link Súmate

